@font-face {
    font-family: 'Francois One';
    src: url('../fonts/FrancoisOne-Regular.ttf');
}

@font-face {
    font-family: 'Salsa-Regular';
    src: url('../fonts/Salasa-Regular.ttf');
}


/*Home*/

.couv {
    background-image: url("../img/couv3.jpg");
    background-position: bottom;
    background-size: cover;
    height: 450px;
    margin-top: -23px;
}

.home {
    font-family: 'Francois One', sans-serif;
    color: #f6a327;
}

.home h1 {
    font-size: 8em;
}

.home p {
    font-size: 2.3em;
    margin-bottom: 2em;
}

.home .btn {
    padding: 6px;
    background-color: #aaae18;
    border-color: #aaae18;
    font-style: 'Salsa-Regular';
}

.home .btn:active {
    background-color: #aaae18;
    border-color: #f6a327;
}


/*météo*/

.weather {
    float: left;
    font-size: 0.8em;
    border-style: solid;
    border-radius: 6px;
    border-width: 0.1em;
    border-color: #BDBDBD;
    padding: 2px;
    text-align: center;
    margin-left: 2px;
    box-shadow: 1px 1px 0px #aaa;
}

.iconWind {
    width: 25px;
}

.meteoDescription:first-letter {
    text-transform: uppercase;
}

.temp {
    font-size: 1.5em;
    text-align: center;
}


/*Pages*/

.fond {
    background-image: url("../img/couv3.jpg");
    background-position: bottom;
    background-size: cover;
    margin-top: -23px;
    border-radius: 6px;
}

#titleNavbar {
    font-family: 'Francois One', sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f6a327;
}

.coldroite {
    background-color: rgba(246, 163, 39, 0.5);
    padding: 10px;
    margin-top: 2.3em;
}
.map {
  margin-top: 1.1em;
}
.imgTrailHome {
    width: 100%;
}
.weather {
  background-color: #38b8c8;
  border: solid;
  border-color: #106a75;
  border-width: 1px
}
