<div class="jumbotron couv">
    <div class="container home">
        <h1>Perche Rando</h1>
        <p>Plongez en pleine nature...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3>La Loupe - 5 km</h3>
            <img class="imgTrailHome" src="../img/circuit.png" alt="">
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="http://localhost:8000/#!/trail/58db805534bc8785bfd8dd68" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3>Brunelles - 10 km</h3>
          <img class="imgTrailHome" src="../img/circuit.png" alt="">
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3>Margon - 12 km</h3>
          <img class="imgTrailHome" src="../img/circuit.png" alt="">
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>


</div>
<!-- /container -->
