<div class="jumbotron couv">
    <div class="container home">
        <h1>Perche Rando</h1>
        <p>Plongez en pleine nature...</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up &raquo;</a></p> -->
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
              <h3 class='titleColPages'>Champrond-en-Gâtine - 7 km </h3>

            <a ng-href="/#!/exemple1"><img class="imgTrailHome" src="../img/trail-58e60dc6c91e932518c471c1.png" alt=""></a>
            <p><a class="btn btn-default" ng-href="/#!/user/trail/58e60dc6c91e932518c471c1" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3 class="titleColPages">Saint-Pierre-la-Bruyère - 4 km</h3>
          <img class="imgTrailHome" src="../img/trail-58e64f05f528fc520c7241dd.png" alt="">
          <p><a class="btn btn-default" ng-href="/#!/user/trail/58e64f05f528fc520c7241dd" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3 class="titleColPages">Bizou - 7 km</h3>
          <img class="imgTrailHome" src="../img/trail-58e6506630118755318e4941.png" alt="">
            <p><a class="btn btn-default" ng-href="/#!/user/trail/58e6506630118755318e4941" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>
<!-- /container -->
