<div>
    <div class="error" ng-show="error.show">
        {{ error.content }}
    </div>

    <div class="">
        ID : {{ idTrail }}
    </div>

    <div>
        <div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSvjGoZxXRQtxtGbsjlA8zV5vsp_kCFQY&libraries=drawing">
            <ng-map id='createmap' center='[0, 0.83037]' zoom='5' style="height: 80%; width: 50%">

                <shape name="polyline" id="foo"
                    path="{{trail.nodes}}"
                    stroke-color="#FF0000"
                    stroke-opacity="1.0"
                    stroke-weight="3">
                </shape>
            </ng-map>
        </div>

    </div>
<h3>La météo à cinq jours</h3>
<div ng-repeat='meteo in weather' ng-if="$index % 8 == 0" class='weather'>
<p class="date">Le {{changeDate(meteo.dt_txt)}}</p>
<p class="temp">{{meteo.main.temp}}°C</p>
<img ng-src='http://openweathermap.org/img/w/{{meteo.weather[0].icon}}.png' alt="">
<p class="meteoDescription">{{meteo.weather[0].description}}</p>
<p class="wind"> <img class="iconWind" src="/wind.png" alt=""> {{meteo.wind.speed}} km/h</p>
</div>

</div>
