<div class="container-fluid fond">
    
    <div="row">
        <div class="col-md-7">
            <div class="blocMap">
                <div>
                    <h2 class='titleColPages'>{{Ville.name}} - {{trail.distance.toFixed(2)}}km</h2>
                </div>
                <div>
                    <!-- TODO faire en sorte que {{toGmapsCoordinates(trail.nodes)}} ne se fasse que quand le trail est chargé -->
                    <div class="map" map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSvjGoZxXRQtxtGbsjlA8zV5vsp_kCFQY&libraries=drawing">
                        <ng-map id='createmap' center='[0, 0.83037]' zoom='5' style="height: 25em; width: 98%">
                            <shape name="polyline" id="foo" path="{{toGmapsCoordinates(trail.nodes)}}" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="3">
                            </shape>
                        </ng-map>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 coldroite">
            <div class='blocColRight'>
                <div>
                    <h2 class='titleColright'>La météo à cinq jours</h2>
                    <h4 class="subHeaderColright">à {{Ville.name}}</h4>
                </div>
                <div class="row">

                    <div class="col-xs-12">
                        <div ng-repeat='meteo in weather' ng-if="$index % 8 == 0" class='weather'>
                            <p class="date">Le {{changeDate(meteo.dt_txt)}}</p>
                            <p class="temp">{{meteo.main.temp}}°C</p>
                            <img ng-src='http://openweathermap.org/img/w/{{meteo.weather[0].icon}}.png' alt="">
                            <p class="meteoDescription">{{meteo.weather[0].description}}</p>
                            <p class="wind"> <img class="iconWind" src="/wind2.png" alt=""> {{meteo.wind.speed}} km/h</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blocColRight">
                <h2 class='titleColright'>Commentaires</h2>
                <div class="commentObject" ng-repeat="comment in commentsList | orderBy: '-_id'">
                    <p class="subHeaderColright">De {{comment.author._id}}</p>
                    <p class="commentDate">le {{comment.date | date : 'medium'}}</p>
                    <p class="commentContent">{{comment.content}}</p>
                </div>

                <div class="">
                    <p class="subHeaderColright">Ajouter un commentaire</p>
                    <form class="" ng-submit="addComment()">
                        <textarea class="form-control " rows="3" ng-model="newComment.content"></textarea>
                        <button type="submit" class="postComment btn  btn-xs">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
</div>
