
<form class="form-inline" ng-submit="applyFilters()">
<select ng-model="filterDistance" name="distance" class="form-control" >
<option disabled selected value="">Distance</option>
<option value="[0,5]">de 0 à 5 km</option>
<option value="[6,10]">de 6 à 10 km</option>
<option value="[11,20]">de 11 à 20 km</option>
<option value="[21,30]">de 21 à 30 km</option>
<option value="[31,40]">de 31 à 40 km</option>
<option value="[41]">Plus de 41 km</option>
</select>

<select ng-options="City._id as City.name for City in Cities | orderBy:'commune'" ng-model="filterCity" name="Commune" class="form-control" >
<option disabled selected value="">Commune</option>
</select>

<select ng-model="filterRating" name="distance" class="form-control" >
<option disabled selected value="">Note</option>
<option value="[1]">&#9733; &#9734; &#9734; &#9734; &#9734;</option>
<option value="[2]">&#9733; &#9733; &#9734; &#9734; &#9734;</option>
<option value="[3]">&#9733; &#9733; &#9733; &#9734; &#9734;</option>
<option value="[4]">&#9733; &#9733; &#9733; &#9733; &#9734;</option>
<option value="[5]">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
</select>

<button type='submit'>Chercher</button>
</form>

<div ng-repeat='list in filters' class="">


</div>
