<div class="container-fluid fond">
    <div class="row">
        <div class="col-md-7">

            <h4 class="subHeaderProfile">Profil de</h4>

        </div>
        <div class="col-md-5 coldroite">
          <div class="blocColRight">
          <h1 class="titleColright">{{user.firstname}} {{user.lastname}}</h1>

          <table class="tableProfile">
              <tr>
                  <td class="subHeaderProfile">Firstname</td>
                  <td><input class="inputProfile" type="text" placeholder={{user.firstname}}></td>
              </tr>
              <tr>
                  <td class="subHeaderProfile">Lastname</td>
                  <td><input class="inputProfile" type="text" placeholder={{user.lastname}}></td>
              </tr>
              <tr>
                  <td class="subHeaderProfile">Email Address</td>
                  <td><input class="inputProfile" type="email" placeholder={{user.email}}></td>
              </tr>
              <td class="subHeaderProfile">Password</td>
              <td><input class="inputProfile" type="password" placeholder></td>
          </table>
        </div>
        </div>
    </div>
</div>
